img{
    max-width: 700px;
    height: 350px;
    
   
    
}



main,header{    
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

h1{
    text-align: center;
    color: rgb(8, 0, 255);
}

h2{
    color:rgb(4, 85, 74);
}

h3{
    text-align: center;
    background-color: #6ceccc;
    margin-left: 60px; /* Adds space on the left outside the h3 */
    margin-right: 60px; /* Adds space on the right outside the h3 */
    padding: 10px 20px; /* Adds space inside the h3, including left and right */
    box-sizing: border-box; /* Ensures padding and border are included in the total width/height */
}


hr{
    border-bottom: 1px solid #1c1c1c;
    width: 80%;
   
}

.em-text{
    font-style: italic;
}


a {
    color:blue;
    text-decoration: none;
    background-color:rgb(248, 177, 250);
    text-align: left;
}

.image-container {
    text-align: center; 
}

p{
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    padding: 0 100px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: black; /* Sets the background color to black */
    color: rgb(4, 89, 95); /* Sets the text color to red */
}